<div class="sidebar">

    <h2>Restaurant POS</h2>

    <nav>

        <a
            routerLink="/dashboard"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">

            Dashboard

        </a>

        <a
            routerLink="/dashboard/menu"
            routerLinkActive="active">

            Menu

        </a>

        <a
            routerLink="/dashboard/orders"
            routerLinkActive="active">

            Orders

        </a>

        <a
            routerLink="/dashboard/tables"
            routerLinkActive="active">

            Tables

        </a>

        <a
            routerLink="/dashboard/billing"
            routerLinkActive="active">

            Billing

        </a>

    </nav>

</div>