:host {
  display: block;
}

mat-dialog-content {
  min-width: 400px;
  padding-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

mat-form-field {
  width: 100%;
}

mat-dialog-actions {
  padding: 16px 24px;
  gap: 8px;
}

@media (max-width: 600px) {

  mat-dialog-content {
    min-width: auto;
    width: 100%;
  }

}